html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

canvas {
  background-image: url("/universe.png");
}

.text {
  font-family: sans-serif;
  position: absolute;
  color: indianred;
  top: 5px;
  left: 50px;
  margin: 0;
  font-size: 5em;
  line-height: 1em;
}

.auto-rotate {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
}
